@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cedarville+Cursive&family=Dekko&family=Honk&family=Nanum+Gothic+Coding&family=Orbitron:wght@400..900&family=Patrick+Hand&family=Protest+Guerrilla&family=Rubik+Bubbles&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cedarville+Cursive&family=Dekko&family=Honk&family=Nanum+Gothic+Coding&family=Orbitron:wght@400..900&family=Patrick+Hand&family=Protest+Guerrilla&family=Rubik+Bubbles&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cedarville+Cursive&family=Dekko&family=Faster+One&family=Honk&family=Nanum+Gothic+Coding&family=Orbitron:wght@400..900&family=Patrick+Hand&family=Pixelify+Sans:wght@400..700&family=Protest+Guerrilla&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Bubbles&family=Rubik+Glitch&family=Rubik+Glitch+Pop&family=Rubik+Maps&display=swap');
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fde2ec;  
  }
  
  .form {
    background: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {

    /* font-family: "Raleway", sans-serif; */
    font-family: "Arial";
    /* font-family: "Rubik Glitch", system-ui; */
  
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0); 
    margin-bottom: 100px;
  }
  
  .inputField {
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
    font-size: 18px;
    color: #000000; 
  }
  
  .input {
    width: 300px; 
    padding: 8px;
    border: 2px solid #EF4444;
    margin-top: 8px;
    margin-left: 20px;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    border-radius: 30px; 

  }
  
  .button {
    font-family: "Raleway", sans-serif;
    font-family: "Rubik Glitch", system-ui;
    background-color: #EF4444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: darkred; 
  }
  
  .message {
    color: red;
    margin-top: 10px;
  }



.HomeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #EF4444; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease; 
  font-family: "Rubik Glitch", system-ui;
}
  
  /* Media Queries */
@media (max-width: 768px) {
  .title {
      font-size: 2.5rem; 
  }

  .form {
      width: 90%;
  }

  .input {
    width: 100px; 
  
    font-size: 12px;

  }

  .inputField {
    font: 12px;
  
  }
}

@media (max-width: 480px) {
  .title {
      font-size: 2rem; 
  }

  .input, .button {
      padding: 8px 16px; 
  }

  .input {
    width: 80px; 
  
    font-size: 12px;
  }

  .inputField {
  
    font-size: 12px;
  
  }



}

