@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Jost:ital,wght@0,100..900;1,100..900&family=Mukta&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&family=Sacramento&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fde2ec;  /* Light pink background */
}

.form {
    background: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(41, 3, 3); /* Black color for the text */
    margin-bottom: 40px;
}

.inputField {
    font-family: "Jost", sans-serif;
    font-family:  Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    width: 100%; 
}

.input {
    width: 300px; 
    padding: 8px;
    border: 2px solid #EF4444; 
    background-color: transparent;
    color: #000;
    font-size: 16px;
    border-radius: 30px; 
    display: block;
    width: 100%;
    margin-top: 10px;
}

.button {
    background-color: #EF4444;
    color: white;
    border: none;
    font-family: "Rubik Glitch", system-ui;
    padding: 10px 20px;
    border-radius: 20px; /* rounded  */
    cursor: pointer;
    font-size: 16px;
    width: 100%; 
}


.button:hover {
    background-color: darkred; 
}


.HomeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #EF4444; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease; 
    font-family: "Rubik Glitch", system-ui;
}

.message {
    color: red;
    margin-top: 10px;
}



/* Media Queries */
@media (max-width: 768px) {
    .title {
        font-size: 30px; /* smaller font size on tablets */
        margin-bottom: 30px;
    }

    .form {
        width: 20%; 
        font-size: 15px;
    }

    .input, .button {
        padding: 5px 10px; 
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .input {
        padding: 8px 16px; 
        font-size: 10px; 
    }

    .button {
        padding: 8px 10px; 
        font-size: 8px; 
    }
}