
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fde2ec; 
    color: #333; /* dark text */
    font-family: Arial, sans-serif;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.list {
    width: 80%; /* responsive width */
    max-width: 600px; 
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px 0;
}

.songDetails {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee; 
}

.instrumentDetail {
    background-color: #EF4444; 
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center; 
}

.button {
    width: 40%;
    background-color: #EF4444; 
    color: white;
    border: none;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.button:hover {
    background-color: #EF4444; 
}

.message {
    color: #EF4444;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}


/* Media Queries */
@media (max-width: 1024px) {
    .title {
        font-size: 28px;
    }

    .list, .songDetails {
        width: 90%;
        padding: 15px;
    }

    .button {
        width: 50%; /* Larger button for easier interaction */
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 24px; 
        margin-bottom: 8px;
    }

    .list {
        width: 95%; 
        max-width: none; 
    }

    .button {
        width: 60%; 
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 20px; 
    }

    .input, .select {
        font-size: 14px; 
    }

    .button {
        width: 75%; 
    }
}